<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923007328153-pco8hp0af4mmfgqtp5sq7or37uk7nvd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923007328153-pco8hp0af4mmfgqtp5sq7or37uk7nvd4</string>
	<key>API_KEY</key>
	<string>AIzaSyBiAmjE0cTuA5ymjDtNbOmO4EvUJTSmfQE</string>
	<key>GCM_SENDER_ID</key>
	<string>923007328153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urs.ai.app</string>
	<key>PROJECT_ID</key>
	<string>twinkle-dd56f</string>
	<key>STORAGE_BUCKET</key>
	<string>twinkle-dd56f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923007328153:ios:03af413d6c7b7c5de17d08</string>
	<key>DATABASE_URL</key>
	<string>https://twinkle-dd56f-default-rtdb.firebaseio.com</string>
</dict>
</plist>