<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72566415848-i0ki2614hmtkpltk5cod4d9e3c63u5at.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72566415848-i0ki2614hmtkpltk5cod4d9e3c63u5at</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>72566415848-qboagvb2gubtvge0hu30lv0ds25sac9k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsv-IQQ059ITqVlvwxpDC91f7E5ffQBA0</string>
	<key>GCM_SENDER_ID</key>
	<string>72566415848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urs.ai.app</string>
	<key>PROJECT_ID</key>
	<string>aiapp-9f9d4</string>
	<key>STORAGE_BUCKET</key>
	<string>aiapp-9f9d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72566415848:ios:3ef1490c15de05139bc45d</string>
</dict>
</plist>